@import "../../../styles/variables.scss";

.error {
  text-align: center;

  .linkContainer {
    margin-top: 4rem;

    a {
      font-size: 1.6rem;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
