@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.cards {
  width: 100%;
  min-width: 35rem;
  max-width: 36.7rem;
  margin: 0 auto;
}

.card {
  width: 100%;
  position: relative;
  display: flex;
  padding: 0px 4px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30rem;

  @include device(tablet) {
    width: auto;
  }

  &:hover {
    @include styles-card-hover;
  }

  .containerImage {
    width: 102%;
    overflow: hidden;

    .img {
      width: 100%;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  .partCard {
    width: 100%;
    position: absolute;
    display: flex;
    padding: 50px 33px;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    background-color: $color-primary;
    top: 17rem;
    z-index: 10;
    min-height: 35rem;
    max-height: 36rem;
    height: 100%;

    .category {
      width: 40%;
      display: flex;
      padding: 2px 6px 2px 4px;
      align-items: center;
      justify-content: center;
      border-radius: 0.4rem;
      background: $color-primary-eight;
      font-size: 1.2rem;
      font-weight: 700;
      color: $color-primary;
      line-height: 125%;

      &:hover {
        background-color: $color-primary;
        color: $color-primary-eight;
        transition: 0.3s;
      }
    }

    h3 {
      padding-top: 8px;
      align-self: stretch;
      color: $base-primary-color;
      font-size: 2rem;
      font-weight: 600;
    }

    .containerDate {
      padding: 15px 0 25px 0;

      h4 {
        color: $tertiary-text-color;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    p {
      width: 100%;
      color: $quarternary-text-color;
      font-size: 1.6rem;
      font-weight: 400;

      @include device(notebook-large) {
        font-size: 1.4rem;
      }
    }

    .continue {
      width: 100%;
      display: flex;
      padding-top: 2rem;
      justify-content: flex-end;
      align-items: center;

      a {
        text-decoration: none;
        color: $color-primary-eight;
        font-size: 1.4rem;
        font-weight: 400;

        &:hover {
          @include continue-reading;
          color: $color-primary-eight;
        }

        .arrow {
          margin-left: 1rem;
        }
      }
    }
  }
}
