@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.buttonContent {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;

  .button {
    @include styles-button;
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-primary-eight;
    text-decoration: none;
    background-color: $color-primary;
  }
}
