@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.articles {
  width: 80%;
  max-width: 1440px;
  margin: auto;
  padding-top: $padding-top;
  padding-bottom: $padding-top;

  @include device(notebook) {
    width: 95%;
  }
}
