@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.page {
  background: $bg-highlight;
  height: 100%;

  .containerPage {
    max-width: 1140px;
    margin: auto;
    padding: $padding-top 0 $padding-top 0;

    @include device(notebook-large) {
      width: 90%;
    }

    .supportMaterial {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 7rem;

      .title {
        width: 100%;
        display: flex;
        align-items: center;

        h1 {
          color: $base-primary-color;
          font-size: 40px;
          text-align: center;
          font-weight: 700;
        }
      }

      .backingCardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7rem;

        @include device(tablet) {
          grid-template-columns: repeat(1, 1fr);
          row-gap: 24rem;
        }
      }

      .allSupportMaterials {
        @include flex-center;
        padding: 20rem 1rem 0px 1rem;
        align-self: stretch;

        a {
          color: $color-primary-eight;
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }

    .section {
      display: flex;
      padding-top: $padding-top;

      .image {
        width: 100%;
        max-width: 576px;
        padding: 17px 63px;
      }

      .posts {
        width: 100%;
        max-width: 480px;
        display: flex;
        padding: 8px 20px 8px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .post {
          width: 100%;
          display: flex;
          padding: 18px;
          align-items: flex-start;
          align-content: flex-start;
          gap: 10px 12px;
          align-self: stretch;
          flex-wrap: wrap;

          .containerCategory {
            display: flex;
            padding: 2px 6.09px 2px 4px;
            align-items: flex-start;
            border-radius: 4px;
            background: $color-primary-eight;

            h4 {
              font-size: 12px;
              font-weight: 700;
              color: $color-primary;
              line-height: 125%;
            }
          }

          h3 {
            font-size: 20px;
            font-weight: 600;
            color: $base-primary-color;
          }

          .continue {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 12px;
            align-self: stretch;

            a {
              font-size: 14px;
              font-weight: 400;
              color: $color-primary-eight;
              text-decoration: none;
            }
          }
        }
      }
    }

    .cardsArticles {
      width: 100%;
      padding-top: $padding-top;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 1140px;

      // @include device(notebook-large) {
      //   // grid-template-columns: repeat(2, 1fr);
      //   // margin: auto;
      // }

      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 11px;

        // @include device(notebook-large) {
        //   // grid-template-columns: repeat(2, 1fr);
        //   // margin: auto;
        // }

        .card {
          width: 100%;
          max-width: 367px;
          position: relative;
          display: flex;
          padding: 0px 4px;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 30rem;

          // .img {
          //   background-color: black;
          //   width: 97%;
          // }

          // @include device(notebook-large) {
          //   // grid-template-columns: repeat(2, 1fr);
          //   // margin: auto;
          //   background-color: aqua;
          //   width: 95%;
          // }

          .partCard {
            width: 100%;
            position: absolute;
            display: flex;
            padding: 50px 33px;
            flex-direction: column;
            border-radius: 20px 20px 0px 0px;
            background-color: $color-primary;
            top: 17rem;
            z-index: 10;

            // @include device(notebook-large) {
            //   // grid-template-columns: repeat(2, 1fr);
            //   // margin: auto;
            //   background-color: red;
            //   width: 95%;
            // }

            .containerCategory {
              width: 43%;
              display: flex;
              padding: 2px 6px 2px 4px;
              align-items: flex-start;
              border-radius: 4px;
              background: $color-primary-eight;

              h4 {
                font-size: 12px;
                font-weight: 700;
                color: $color-primary;
                line-height: 125%;
              }
            }

            h3 {
              padding-top: 8px;
              align-self: stretch;
              color: $base-primary-color;
              font-size: 20px;
              font-weight: 600;
            }

            .containerDate {
              padding: 15px 0 25px 0;

              h4 {
                color: $tertiary-text-color;
                font-size: 12px;
                font-weight: 600;
              }
            }

            p {
              width: 100%;
              color: $quarternary-text-color;
              font-size: 16px;
              font-weight: 400;
            }

            .continue {
              width: 100%;
              display: flex;
              padding-top: 2rem;
              justify-content: flex-end;
              align-items: center;

              a {
                text-decoration: none;
                color: $color-primary-eight;
                font-size: 14px;
                font-weight: 400;

                .arrow {
                  margin-left: 1rem;
                }
              }
            }
          }
        }
      }
      .allArticles {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
        // margin-top: 5rem;

        a {
          color: $color-primary-eight;
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }

    .about {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1440px;
      height: auto;
      align-items: flex-start;
      padding-top: $padding-top;
      align-items: center;

      .containerAbout {
        width: 100%;
        height: 18rem;
        background-color: $color-primary;
        display: flex;
        align-items: center;

        Image {
        }

        .text {
          display: flex;
          flex-direction: column;
          padding-left: 55px;
          gap: 20px;

          h2 {
            color: $color-primary-eight;
            font-size: 30px;
            font-weight: 600;
          }

          p {
            color: $quarternary-text-color;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }

    .blog {
      padding-top: $padding-top;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      h1 {
        color: $base-primary-color;
        font-size: 40px;
        font-weight: 700;
      }

      .imageSubtitle {
        display: flex;
        padding-top: 30px;
        gap: 20px;

        @include device(notebook) {
          flex-direction: column;
        }

        .img {
          width: 100%;

          @include device(notebook) {
            @include flex-center;
          }
        }

        .subtitleDescription {
          display: flex;
          padding: 10px 10px 10px 0px;
          flex-direction: column;
          gap: 25px;

          h3 {
            color: $base-primary-color;
            font-size: 30px;
            font-weight: 600;
          }

          p {
            color: $quarternary-text-color;
            font-size: 16px;
          }
        }
      }
    }
  }
}
