@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.post {
  width: 100%;
  margin: auto;
  padding: $padding-top 0 $padding-top 0;
  display: flex;
  flex-direction: column;

  .heading {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 2rem;
      font-size: 2.8rem;
      color: $color-primary;
    }
    h4 {
      font-weight: 500;
    }

    .containerAuthor {
      padding-top: 5rem;
    }

    .author {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      color: $color-primary;

      .contentAuthor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        p {
          display: flex;
          flex-direction: column;
        }

        .name {
          font-size: 1.5rem;
        }

        .date {
          font-size: 1.2rem;
          font-weight: 700;
          color: $tertiary-text-color;
        }
      }
    }
  }

  .content {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    margin-top: 7rem;

    .containerImage {
      width: 100%;
      margin-bottom: 7rem;
      @include flex-center;

      .img {
        width: 50%;
        height: 50%;
      }
    }

    .containerText {
      width: 100%;

      .p {
        font-size: 2.6rem;
        line-height: 2.4rem;
        font-weight: 400;
      }
    }
  }
}
