@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.supportMaterial {
  width: 100%;
  margin: auto;
  max-width: 1140px;
  padding: 21rem 0 41rem 0;

  @include device(notebook-large) {
    width: 90%;
    @include flex-center;
    flex-direction: column;
  }

  header {
    h1 {
      font-size: 4rem;
      color: $color-primary;
      text-align: center;
      padding-bottom: 8rem;
      text-wrap: pretty;
    }

    .containerLink {
      @include flex-center;
      padding-bottom: 5rem;

      a {
        color: $navigation-text-color;
        text-decoration: none;
        font-size: 1.6rem;
      }

      .containerArrow {
        padding: 0 1.2rem;
      }

      p {
        color: $navigation-text-color;
        text-decoration: none;
        font-size: 1.6rem;
      }
    }
  }

  .containerSupportMaterial {
    margin: 6rem auto;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24.5rem;
    column-gap: 1rem;

    @include device(notebook-large) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 23.5rem;
      column-gap: 1rem;
    }

    @include device(notebook) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 23.5rem;
      column-gap: 0rem;
    }

    @include device(tablet) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 23.5rem;
      column-gap: 0rem;
    }
  }
}
