 $color-primary: #004165;
 $color-primary-two: #125D87;
 $color-primary-three: #27729D;
 $color-primary-eight: #A2DDFF;

 $base-primary-color: #FFFFFF;
 $base-secondary-color: #333333;
 $base-tertiary-color: #666666;
 $tertiary-text-color: #999999;
 $quarternary-text-color: #CCCCCC;

 $navigation-text-color: #000826;

 $bg-base: #F9FAFB;
 $bg-highlight: #000826;

 $padding-top: 17.5rem;