@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.post {
  width: 100%;

  @include flex-center;
  gap: 3.5rem;
  max-width: 1440px;

  background-color: $sexternary-text-color;
  border-radius: 1rem;

  &:hover {
    @include styles-card-hover;

    h2 {
      transition: 0.3s;
      color: $color-primary-eight;
      text-decoration: underline;
    }
  }

  @include device(tablet) {
    // flex-direction: column;
    // max-width: 50rem;
    margin: 0 auto;
  }

  &:not(:last-of-type) {
    margin-bottom: 4rem;

    @include device(tablet) {
      margin-bottom: 7.5rem;
    }
  }

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 605px) {
    flex-direction: column;
  }

  .containerImage {
    width: 40%;
    height: 20rem;
    overflow: hidden;

    @include device(notebook) {
      width: auto;
    }

    @include device(tablet) {
      max-width: 100%;
      height: auto;
    }

    .img {
      width: 100%;
      min-width: 30rem;
      border-radius: 1rem;

      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

      @include device(notebook-large) {
        min-width: 28rem;
      }

      @include device(notebook) {
      }
    }
  }

  .content {
    width: 100%;

    .containerCategory {
      width: 50%;

      .category {
        width: 100%;
        display: flex;
        padding: 2px 6px 2px 4px;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
        background: $color-primary-eight;

        &:hover {
          background: white;
          transition: 0.3s;
        }

        font-size: 1.2rem;
        font-weight: 700;
        color: $color-primary;
        line-height: 125%;
      }
    }

    h2 {
      font-weight: 400;
      margin-bottom: 1rem;
      color: $color-primary-three;
    }

    .description {
      margin-bottom: 3.5rem;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .author {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      color: $color-primary;

      .image {
        width: 3.5rem;
        height: 3.5rem;
        border: 1px solid $color-primary;
        border-radius: 50%;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        p {
          display: flex;
          flex-direction: column;
        }

        .name {
          font-size: 1.5rem;
        }

        .date {
          font-size: 1.2rem;
          font-weight: 700;
          color: $tertiary-text-color;
        }
      }
    }

    .continue {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      align-self: stretch;

      a {
        text-decoration: none;
        color: $color-primary;

        &:hover {
          @include continue-reading;
        }

        .arrow {
          margin-left: 1rem;
        }
      }
    }
  }
}
