@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.post {
  display: flex;
  align-items: center;
  gap: 2rem;

  @include device(tablet) {
    flex-direction: column;
    max-width: 50rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 4rem;

    @include device(tablet) {
      margin-bottom: 7.5rem;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .image {
    max-width: 20rem;
    height: 20rem;
    border: 1px solid $color-primary;

    @include device(tablet) {
      max-width: 100%;
      height: auto;
    }
  }

  .content {
    h2 {
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .description {
      margin-bottom: 3.5rem;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .author {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;

      .image {
        width: 3.5rem;
        height: 3.5rem;
        border: 1px solid $color-primary;
        border-radius: 50%;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        p {
          display: flex;
          flex-direction: column;
        }

        .name {
          font-size: 1.5rem;
        }

        .date {
          font-size: 1.2rem;
          color: $tertiary-text-color;
        }
      }
    }

    .continue {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      align-self: stretch;

      a {
        text-decoration: none;
        color: $color-primary;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}
