@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.copy {
  display: flex;
  width: 100%;
  padding: 0px 150px 11px 150px;
  justify-content: center;
  align-items: center;
  background: #000;

  .containerCopy {
    @include flex-center;

    width: 100%;
    max-width: 1140px;
    padding: 1.5rem;
    flex-direction: column;
    p {
      color: $base-primary-color;
    }

    a {
      padding-top: 1rem;
      color: $quinternary-text-color;
      text-decoration: none;
      font-size: 1.2rem;

      b {
        text-decoration: underline;
        color: $color-primary-eight;
      }
    }
  }
}
