@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.section {
  display: inline-block;
  position: relative;

  .containerImage {
    width: 100%;
    .img {
      width: 100%;
    }
  }
  .containerDescription {
    transition: ease-in 0.3s;
    width: 100%;
    position: absolute;
    top: 81.2%;
    color: white;
    padding-bottom: 1rem;
    height: 5.3rem;
    overflow: hidden;
    height: 18%;

    background: rgba(0, 65, 101, 0.5);

    &:hover {
      transition: 0.3s;
      top: 65%;
      height: 10.2rem;

      @include device(notebook-large) {
        height: 34%;
      }

      header {
        transition: 0.3s;
      }

      .containerTitle {
        h3 {
          transition: 0.3s;
          color: $color-primary-eight;
          text-decoration: underline;
        }
      }

      .footer {
        visibility: visible;
      }
    }

    header {
      padding-top: 1rem;
      width: 100%;
      padding-left: 1.5rem;

      .containerCategory {
        width: 25%;
        display: flex;
        padding: 2px 6.09px 2px 4px;
        align-items: flex-start;
        border-radius: 4px;
        background: $color-primary-eight;
        transition: 0.3s;

        &:hover {
          background: none;
          transition: 0.3s;

          h4 {
            transition: 0.3s;
            color: $color-primary-eight;
          }
        }

        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          color: $color-primary;
          line-height: 125%;
          transition: 0.3s;
        }

        .containerTitle {
          width: 100%;
          h3 {
            font-size: 2rem;
            font-weight: 600;
            color: $base-primary-color;
            transition: 0.3s;
          }
        }
      }
    }

    .footer {
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1.5rem;

      .continue {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        padding-bottom: 1rem;

        &:hover {
          @include continue-reading;
          color: $color-primary-eight;
        }

        a {
          font-size: 1.4rem;
          font-weight: 400;
          color: $color-primary-eight;
          text-decoration: none;
        }
      }

      .container {
        display: flex;
        flex-direction: column;

        .containerAuthor {
          width: 100%;

          h4 {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }

        .containerDate {
          width: 100%;

          h4 {
            color: $quinternary-text-color;
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
