/* Header.module.scss */

@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  background-color: $base-primary-color;
  height: 9rem;
  padding-top: 2rem;

  .containerHeader {
    max-width: 1140px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    margin: auto;

    .hamburger-container {
      display: flex;
      align-items: center;
    }

    .hamburger-btn {
      display: block; /* Mostrar em telas menores */
      background: none;
      border: none;
      font-size: 2rem;
      color: #fff; // Adicione a cor desejada
    }
  }

  .navBar {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      // color: $navigation-text-color;
      color: $color-primary;
      font-size: 1.6rem;
      font-weight: 500;
      padding: 1.5rem;

      &:hover {
        color: $color-primary-three;
        transition: 0.3s;
      }
    }

    .btn {
      @include styles-button;
    }
  }
}
